Repository yungyuc/nsdhw_24sp, pull requests merged in 2024-04, with the labels that each got.

#49 YJack0000-proposal-submission
  project/README.rst
  project/YJack0000/README.md
Labels: project

#55 Quentin ducoulombier proposal submission
  project/QuentinDucoulombier/README.md
  project/README.rst
Labels: project

#43 hw2 summit by HaKkaz (attempt1)
  hw2/HaKkaz/q1/Makefile
  hw2/HaKkaz/q1/line.cpp
  hw2/HaKkaz/q1/line.hpp
  hw2/HaKkaz/q1/main.cpp
  hw2/HaKkaz/q2/Makefile
  hw2/HaKkaz/q2/_vector.cpp
  hw2/HaKkaz/q2/test_vector.py
Labels: hw2

#26 R1407p hw2 attempt1
  hw2/r1407p/q1/Makefile
  hw2/r1407p/q1/line.cpp
  hw2/r1407p/q1/line.hpp
  hw2/r1407p/q1/main.cpp
  hw2/r1407p/q2/Makefile
  hw2/r1407p/q2/_vector.cpp
  hw2/r1407p/q2/test_vector.py
Labels: hw2

#42 hw2 submit by as535364
  .gitignore
  hw2/as535364/q1/Makefile
  hw2/as535364/q1/line.cpp
  hw2/as535364/q1/line.hpp
  hw2/as535364/q1/main.cpp
  hw2/as535364/q2/Makefile
  hw2/as535364/q2/_vector.cpp
  hw2/as535364/q2/cal_test.py
Labels: hw2

#31 bhchen2001 hw2 submission
  hw2/bhchen2001/q1/Makefile
  hw2/bhchen2001/q1/line.cpp
  hw2/bhchen2001/q1/line.hpp
  hw2/bhchen2001/q1/main.cpp
  hw2/bhchen2001/q2/.gitignore
  hw2/bhchen2001/q2/Makefile
  hw2/bhchen2001/q2/_vector.cpp
  hw2/bhchen2001/q2/test_.py
Labels: hw2

#38 hw2 by ravencyan attempt1
  hw2/ravencyan/q1/Makefile
  hw2/ravencyan/q1/line.cpp
  hw2/ravencyan/q1/line.hpp
  hw2/ravencyan/q1/line.o
  hw2/ravencyan/q1/main
  hw2/ravencyan/q1/main.cpp
  hw2/ravencyan/q1/main.o
  hw2/ravencyan/q2/Makefile
  hw2/ravencyan/q2/_vector.cpp
  hw2/ravencyan/q2/test_vector.py
Labels: hw2

#32 hw2 submit by kevinshlo
  hw2/kevinshlo/q1/Makefile
  hw2/kevinshlo/q1/main.cpp
  hw2/kevinshlo/q2/Makefile
  hw2/kevinshlo/q2/_vector.cpp
  hw2/kevinshlo/q2/_vector_test.py
  hw2/kevinshlo/q2/setup.py
Labels: hw2

#35 Ananaee hw2 attempt2
  hw2/Ananaee/q1/line.cpp
  hw2/Ananaee/q1/line.hpp
  hw2/Ananaee/q1/main.cpp
  hw2/Ananaee/q1/makefile
  hw2/Ananaee/q2/_vector.cpp
  hw2/Ananaee/q2/makefile
  hw2/Ananaee/q2/test_vector.py
Labels: hw2

#29 hw2 submit by QuentinDucoulombier
  hw2/QuentinDucoulombier/q1/Makefile
  hw2/QuentinDucoulombier/q1/line.cpp
  hw2/QuentinDucoulombier/q1/line.hpp
  hw2/QuentinDucoulombier/q1/main.cpp
  hw2/QuentinDucoulombier/q2/Makefile
  hw2/QuentinDucoulombier/q2/_vector.cpp
  hw2/QuentinDucoulombier/q2/test_vector.py
Labels: hw2

#34 Andymyyon homework 2 upload
  hw2/Andymyyon/q1/Line.cpp
  hw2/Andymyyon/q1/Line.hpp
  hw2/Andymyyon/q1/Makefile
  hw2/Andymyyon/q1/main.cpp
  hw2/Andymyyon/q2/Makefile
  hw2/Andymyyon/q2/_vector.cpp
  hw2/Andymyyon/q2/test_vector.py
Labels: hw2

#25 hw2 submit by YJack0000
  hw2/YJack0000/q1/Makefile
  hw2/YJack0000/q1/line.cpp
  hw2/YJack0000/q1/line.hpp
  hw2/YJack0000/q1/line.o
  hw2/YJack0000/q1/main
  hw2/YJack0000/q1/main.cpp
  hw2/YJack0000/q1/main.o
  hw2/YJack0000/q2/Makefile
  hw2/YJack0000/q2/_vector.cpp
  hw2/YJack0000/q2/test__vector.py
Labels: hw2

#45 bhchen2001-proposal-submission
  project/README.rst
  project/bhchen2001/README.rst
Labels: project

#63 zona8815 proposal submission
  project/README.rst
  project/zona8815/README.rst
  project/zona8815/src/multiplier.h
  project/zona8815/src/myconv2d.py
  project/zona8815/src/truthtable.h
Labels: project

#58 R1407p hw3 attempt2
  hw3/r1407p/Makefile
  hw3/r1407p/_matrix.cpp
  hw3/r1407p/_matrix.hpp
  hw3/r1407p/performance.txt
  hw3/r1407p/test_matrix.py
  hw3/r1407p/test_performance.py
Labels: hw3

#62 YJack0000 hw3 attempt1
  hw3/YJack0000/Makefile
  hw3/YJack0000/_matrix.cpp
  hw3/YJack0000/_matrix.hpp
  hw3/YJack0000/performance.py
  hw3/YJack0000/performance.txt
  hw3/YJack0000/test_matrix.py
Labels: hw3

#65 bhchen2001 hw3 submission
  hw3/bhchen2001/Makefile
  hw3/bhchen2001/_matrix.cpp
  hw3/bhchen2001/_matrix.hpp
  hw3/bhchen2001/perf_matrix.py
  hw3/bhchen2001/performance.txt
  hw3/bhchen2001/test_matrix.py
Labels: hw3

#61 Kevinshlo hw3 attempt2
  hw3/kevinshlo/Makefile
  hw3/kevinshlo/matrix.cpp
  hw3/kevinshlo/performance.txt
  hw3/kevinshlo/setup.py
  hw3/kevinshlo/test_matrix.py
Labels: hw3

#77 hw3 submit by QuentinDucoulombier (attempt2)
  hw3/QuentinDucoulombier/Makefile
  hw3/QuentinDucoulombier/main.cpp
  hw3/QuentinDucoulombier/matrix.cpp
  hw3/QuentinDucoulombier/matrix.hpp
  hw3/QuentinDucoulombier/performance.txt
  hw3/QuentinDucoulombier/pybind_matrix.cpp
  hw3/QuentinDucoulombier/test_matrix.py
Labels: hw3

#68 hw3 submit by Lianghy0326-attempt1
  hw3/Lianghy0326/Makefile
  hw3/Lianghy0326/_matrix.cpp
  hw3/Lianghy0326/_matrix.hpp
  hw3/Lianghy0326/performance.py
  hw3/Lianghy0326/test_matrix.py
Labels: hw3

#64 hw3 submit by zona8815
  hw3/zona8815/Makefile
  hw3/zona8815/matrix.cpp
  hw3/zona8815/matrix.hpp
  hw3/zona8815/performance.py
  hw3/zona8815/performance.txt
  hw3/zona8815/test_matrix.py
Labels: hw3

#78 Ananaee hw3 attempt1
  hw3/Ananaee/Makefile
  hw3/Ananaee/main.cpp
  hw3/Ananaee/matrix.cpp
  hw3/Ananaee/matrix.hpp
  hw3/Ananaee/performance.py
  hw3/Ananaee/performance.txt
  hw3/Ananaee/test_matrix.py
Labels: hw3

#56 Ananaee-proposal-submission
  project/Ananaee/README.md
  project/README.rst
Labels: project
